@font-face {
	font-family: IBMPlexMono;
	font-display: swap;
	src: url("../fonts/IBMPlexMono-Bold.woff2") format("woff2"), url("../fonts/IBMPlexMono-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexMono;
	font-display: swap;
	src: url("../fonts/IBMPlexMono-Light.woff2") format("woff2"), url("../fonts/IBMPlexMono-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexMono;
	font-display: swap;
	src: url("../fonts/IBMPlexMono-ExtraLight.woff2") format("woff2"), url("../fonts/IBMPlexMono-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexMono;
	font-display: swap;
	src: url("../fonts/IBMPlexMono-Italic.woff2") format("woff2"), url("../fonts/IBMPlexMono-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexMono;
	font-display: swap;
	src: url("../fonts/IBMPlexMono-Medium.woff2") format("woff2"), url("../fonts/IBMPlexMono-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexMono;
	font-display: swap;
	src: url("../fonts/IBMPlexMono-Regular.woff2") format("woff2"), url("../fonts/IBMPlexMono-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexMono;
	font-display: swap;
	src: url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexMono-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexMono;
	font-display: swap;
	src: url("../fonts/IBMPlexMono-Text.woff2") format("woff2"), url("../fonts/IBMPlexMono-Text.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexMono;
	font-display: swap;
	src: url("../fonts/IBMPlexMono-Thin.woff2") format("woff2"), url("../fonts/IBMPlexMono-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Qundart;
	font-display: swap;
	src: url("../fonts/Qundart.woff2") format("woff2"), url("../fonts/Qundart.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
